:root{
    --Orange: hsl(26, 100%, 55%);
    --PaleOrange: hsl(25, 100%, 94%);
    --VeryDarkBlue: hsl(220, 13%, 13%);
    --DarkGrayishBlue: hsl(219, 9%, 45%);
    --GrayishBlue: hsl(220, 14%, 75%);
    --LightGrayishBlue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: (with 75% opacity for lightbox background): hsl(0, 0%, 0%);
    }

*{
    margin: 0;
    padding: 0;
  }

  h1, p{
    margin: 0;
  }

  body{
    font-family: 'Kumbh Sans', sans-serif;    
  }

  .titleAndMenu{
    display: flex;
    align-items: center;
    gap: 1.75rem;
  }

  .titleAndMenu p{
    cursor: pointer;
    color: var(--Black);
  }

  .titleAndMenu p:hover{
    color: var(--DarkGrayishBlue);
  }

  .titleAndMenu h1{
    font-weight: 700;  
  }

  .header {
    border-bottom: 1px solid var(--GrayishBlue); 
  }

  .header header{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #imageAvatar{
    max-width: 45px;
    margin-left: 0.75rem; 
  }

  #imageSneaker{
    max-width: 430px;
    border-radius: 12px;
    margin-bottom: 2rem;
    margin-right: 5rem;
  }

  .groupImages img{
    max-width: 80px;
    border-radius: 10px;
  }

  .groupImages{
    display:flex;
    gap: 2rem;
  }  

  .descriptionProduct {
    align-items: left;
    margin-top: 5%;   
    
  }

  .descriptionProduct p{
    align-items: left;
    margin-top: 2%;   
    
  }

  .container{
    width: 100%;
    display: flex;
    gap: 2rem;    
  }

 #orangeTitle{
    color: var(--Orange);
    font-size: 1rem; 
    font-weight: bold;    
    
 }

 #blackTitle{
    color: var(--Black);
    font-size: 3rem; 
    font-weight: bold; 
   
 }

 #price{
    color: var(--Black);
    font-size: 2rem; 
    font-weight: bolder; 
 }

 #discount {
    color: var(--Orange);
    background-color: var(--PaleOrange);
    font-size: 1rem;  
    font-weight: bold;
    align-items: center; 
    border-radius: 7px; 
    padding: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
       
 }

 #priceOff{
    color: var(--GrayishBlue);
    font-size: 1rem   
    
 }

 .containerPrice{
    display: flex;
    align-items: center;
    gap: 1rem;     
 }

.cart{
    display: flex;
    align-items: center;
    gap: 1rem;    
}

.quantity{
    padding: 10px;
    margin-top: 5%;
}

.minus-btn, .plus-btn, #text{
    padding: 20px;
    background-color: var(--LightGrayishBlue);
    border: none;
    text-align: center;
    width: 50px;
    border-radius: 10px;    
}

.btn-add{
    width: 300px;
    padding: 20px;
    background-color: var(--Orange);
    border: none;
    font-size: 1rem;
    color:var(--White);
    font-weight: bold;
    border-radius: 10px;     
    /* falta deixar o ícone do cart branco, alinhar ele junto com o contador e criar uma shadow*/  
}










 